<%- partial('sidebar') %>

<div id='content'>
	<div class='panel'>
		<div class='inner nopadding'>
			<div class='header'>
				<% if (locals.current_user) { %>
					&nbsp;
					<a href='/topic/create' class='fl'>
						<button class='btn btn-success fr' id='create_topic_btn'>发布话题</button>
				  	</a>
				<% } else {%>
					当前话题
				<% }%>
			</div>
			<% if (locals.topics && topics.length > 0) { %>
			<%- partial('topic/list', {
				topics: topics,
				pages: pages,
				current_pages: current_page,
				base: keyword ? ('/?q=' + keyword) : '/'
			}) %>
			<% } else { %>
			<div class='inner'>
				<p>无话题</p>
			</div>
			<% } %>
		</div>
	</div>
</div>
