<%- partial('sidebar') %>

<div id='content'>
	<div class='panel'>
		<div class='header'>
			<ul class='breadcrumb'>
				<li><a href='/'>主页</a><span class='divider'>/</span></li>
				<li class='active'>关于</li>
			</ul>
		</div>
		<div class='inner topic'>
			<h3>关于</h3>
			<hr />
			<div class="topic_content">
			<p>WEB 攻城老湿 致力于 js,node.js 的技术研究。</p>
			<p>WEB 攻城老湿 社区是基于源cnode.org社区的开源代码建立的一个前端社区,如有任何问题,欢迎来信:（ <a href='mailto:luxueyan2008@126.com'>luxueyan2008@126.com</a>）。</p>
			</div>
		</div>
	</div>	
</div>
